.search-container {
  display: flex;
  width: 300px;
  text-align: center;
  color: rgb(211, 211, 211);
  .wrapper {
    position: relative;
    .MuiFormLabel-root {
      color: rgb(255, 255, 255);
    }
    .MuiFormLabel-root.Mui-focused {
      color: rgb(224, 136, 4);
    }

    .MuiInputBase-root {
      color: rgb(255, 255, 255);
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: rgb(224, 136, 4);
      border-width: 2px;
    }
    .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      border-color: rgb(196, 140, 38);
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      border-color: rgb(255, 166, 0);
      -webkit-box-shadow: 0px 3px 17px 0px rgba(255, 171, 41, 0.72);
      box-shadow: 0px 3px 17px 0px rgba(255, 171, 41, 0.72);
    }
    #outlined-basic {
      width: 272px;
      outline: none;
    }
    &__user-input {
    }
    &__submit-button {
      background-color: rgb(58, 58, 58);
      position: absolute;
      height: 56px;
      top: -0.5px;
      right: 0;
      border: 2px solid rgb(224, 136, 4);
      border-radius: 0 4px 4px 0;
    }
    #search-icon {
      color: rgb(255, 255, 255);
    }
  }
}

// Ipad\Tablet - 768 px
@media only screen and (min-width: 768px) {
  .search-container {
    padding: 0 90px;
    .wrapper {
      // width: 500px;
      .MuiFormLabel-root {
        // font-size: 16px;
      }
      .MuiFormLabel-root.Mui-focused {
      }

      .MuiInputBase-root {
      }
      .MuiOutlinedInput-notchedOutline {
      }
      .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      }
      .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      }
      #outlined-basic {
        width: 480px;
        outline: none;
        font-size: 25px;
      }
      &__user-input {
      }
      &__submit-button {
        height: 67px;
      }
      #search-icon {
      }
    }
  }
}
// Web - 1280 px
@media only screen and (min-width: 1280px) {
  .search-container {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    .wrapper {
      // width: 500px;
      .MuiFormLabel-root {
        // font-size: 16px;
      }
      .MuiFormLabel-root.Mui-focused {
      }

      .MuiInputBase-root {
      }
      .MuiOutlinedInput-notchedOutline {
      }
      .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
      }
      .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
      }
      #outlined-basic {
        width: 480px;
        outline: none;
        font-size: 35px;
      }
      &__user-input {
      }
      &__submit-button {
        height: 79px;
      }
      #search-icon {
      }
    }
  }
}
// Web - 1440 px
@media only screen and (min-width: 1440px) {
}
// Web - 1920 px
@media only screen and (min-width: 1920px) {
}
